* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
}

.svg-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

@media (min-width: 1000px) {
  .svg-content {
    max-width: 80%;
  }
}